.title{
    width: 80%;
    .title_box{
        width: 80%;
        margin: 0 auto;
        h2{
            font-size: 3rem;
            line-height: 0;
        }
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .title{
        .title_box{
            width: 90%;
            h2{
                font-size: 1.8rem;
                line-height: 0;
            }
        }
    }
}