.helpCenter{
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in;
    a{
        color: var(--icons-color);
    }
    z-index: 222222222;
}

.helpCenter:hover{
    background-color: var(--icons-color);
    a{
        color: var(--shadow-dark-color);
    }
    
    border-radius: 0.3rem;
}