.aboutus{
    width: 100%;
    margin-block: 5rem;
    .aboutus_box{
        width: 80%;
        margin:  0 auto;
        .aboutus_box_hero{
            display: grid;
            grid-template-columns: 1.5fr 2fr;
            align-items: center;
            gap: 3rem;
            .aboutus_box_hero_left{
                .icon{
                    padding-top: 0.8rem;
                    color: var(--icons-bg-color);
                }
                h1{
                    font-size: 3rem;
                    line-height: .5;
                }
                p { 
                    font-size: 1.5rem;
                    line-height: 1.5;
                 }
            }
            .aboutus_box_hero_right{
                img{
                    width: 100%;
                    aspect-ratio: 5/3;
                }
            }
        }
        .aboutus_box_title{
            margin-top: 5rem;
            .icon{
                padding-top: 0.8rem;
                color: var(--icons-bg-color);
            }
            h2{
                font-size: 3rem;
                line-height: 1;
            }
            p{
                font-size: 1.5rem;
                line-height: 1.2;
                width: 40%;
            }
        }
        .aboutus_box_founder{
            margin-top: 5rem;
            margin-bottom: 10rem;
            .aboutus_box_founder_box{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 2rem;
                .aboutus_box_founder_box_img{
                    background-color: var(--icons-bg-color);
                    color: var(--main-bg-color);
                    padding: 1rem;
                    border-radius: 1rem;
                    text-align: center;
                    .aboutus_box_founder_box_img_img{
                        align-items: center;
                        width: 90%;
                        margin: 0 auto;
                        height: 200px;
                        border-radius: 1rem;
                    }
                    h3{
                        word-wrap:break-word;
                        overflow-wrap: break-word;
                        line-height: 1; /* Adjusted line-height */
                        font-size: 2rem;
                    }
                    p{
                        word-wrap: break-word;
                        overflow-wrap: break-word; 
                        line-height: 1; 
                        font-size: 1.2rem;
                    }
                    
                }
            }
        }
        .aboutus_box_facts{
            .aboutus_box_facts_box{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
                margin-top: 4rem;
                .aboutus_box_facts_box_info{
                    background-color: var(--icons-bg-color);
                    padding: 1rem 3rem;
                    border-radius: 1rem;
                    color: var(--main-bg-color);
                    h3{
                        font-size: 4rem;
                        line-height: 0;
                    }
                }
            }
        }
    }
    
}
