.footer {
  width: 100%;
  padding-block: 1.5rem;
  position: relative;

  .footer_box {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.3fr repeat(2, 1fr) 2fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    .footer_box_social {
      .footer_social {
        display: flex;
        gap: 1.3rem;
        font-size: 2rem;
        align-items: center;

        a {
          padding: 0.5rem;
          border-radius: 50%;
          transition: all 0.3s ease-in;
          display: grid;
        }

        a:hover {
          background-color: var(--icons-color);
          color: var(--shadow-dark-color);
          box-shadow: var(--box-shadow);
        }
      }
    }
    .subscribe {
      .subscribe_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        background-color: var(--icons-bg-color);
        color: var(--shadow-dark-color);
        border-radius: 5rem;
        margin-top: 3rem;
        input{
            background: transparent;
            border: none;
            outline: none;
            width: 90%;
            color: var(--icons-color);
        }
        input::placeholder{
            color: var(--icons-color);
        }
        .subscribe_box_send{
            cursor: pointer;
            font-size: 2rem;
        }
      }
      .subscribe_box_info{
        padding: 1rem 2rem;
      }
    }
  }
}

//Media Query
@media screen and (max-width: 45em) {
  .footer {
    .footer_box {
      width: 90%;
      grid-template-columns: 1fr 2fr;
    }
  }
}

@media screen and (max-width: 35em) {
  .footer {
    .footer_box {
      width: 90%;
      grid-template-columns: 1fr;
    }
  }
}
