.heroSection {
  width: 80%;
  margin: 3rem auto;
  .heroSection_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .heroSection_box_left {
      padding-right: 6rem;
      h1 {
        font-size: 5rem;
        line-height: 1;
      }

      p {
        margin-bottom: 2rem;
      }
    }
    .heroSection_box_right{
        img{
            width: 600px;
            height: 600px;
            border-radius: 2rem;
        }
    }
  }
}

@media screen and (max-width: 35em) {
  .heroSection {
    width: 90%;
    .heroSection_box_right {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 55em) {
  .heroSection {
    width: 90%;
    .heroSection_box {
      grid-template-columns: 1fr;
      gap: 4rem;
      .heroSection_box_left {
        padding-right: 2rem;
        h1 {
          line-height: 1;
          font-size: 3rem;
        }
      }
      .heroSection_box_right {
        img {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
