.video {
  width: 100%;
  margin-top: 14rem;
  margin-bottom: 5rem;
  .video_box {
    width: 80%;
    margin: 0 auto;
    h1 {
      font-size: 3rem;
      line-height: 1;
    }
    p {
      font-size: 1.3rem;
      width: 40%;
      line-height: 1.2;
    }
    .video_box_frame {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 1rem;
      padding: 5rem;
      margin-top: 6rem;
      .video_box_frame_left {
        grid-column: 1 /8;
        grid-row: 1 / -1;
        z-index: 10;
        .video_box_frame_left_img {
          border-radius: 1rem;
          width: 90%;
          aspect-ratio: 16/9;
        }
      }
      .video_box_frame_right{
        grid-column: 3/-1;
        background-color: var(--main-bg-color);
        border-color: var(--icons-bg-color);
        border-radius: 1rem;
        grid-row: 1 / -1;
        padding:  3rem 0;
        margin-top: -5rem;
        margin-bottom: -1rem;
        box-shadow: var(--box-shadow);
        z-index: 1;
    }
    }
  }
}

@media screen and (max-width: 35em) {
    .video{
        .video_box{
            width: 90%;
            h1{
                font-size: 2rem;
            }
            p{
                width: 100%;
            }
            .video_box_frame{
                padding: 0;
                .video_box_frame_right{
                    margin-top: -2rem;
                }
            }
        }
    }
}